.register, .login, .navListCourses{
    display: none;
    width: 300px;
}
.containerAccount{

}
.nameItems{
    font-size: 20px;
}

.signIn, .signUp{
    width: fit-content;
}

.divItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

